SET GLOBAL read_only = OFF;
RESET MASTER;
SET GLOBAL gtid_slave_pos = '__BACKUP_GTID__';

CHANGE MASTER TO
  MASTER_HOST='10.89.0.1',
  MASTER_PORT=3306,
  MASTER_USER='replicator',
  MASTER_PASSWORD='__REPLICATION_PASSWORD__',
  MASTER_USE_GTID=slave_pos;

SET GLOBAL read_only = ON;
START REPLICA;
