CREATE DATABASE IF NOT EXISTS `__APP_DATABASE__`
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;

CREATE USER IF NOT EXISTS '__APP_USER__'@'%'
  IDENTIFIED BY '__APP_PASSWORD__';

GRANT ALL PRIVILEGES ON `__APP_DATABASE__`.* TO '__APP_USER__'@'%';
FLUSH PRIVILEGES;
