# /etc/systemd/system/simplehost-backup-runner.timer
[Unit]
Description=SimpleHost Backup Runner Timer

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true
RandomizedDelaySec=15
Unit=simplehost-backup-runner.service

[Install]
WantedBy=timers.target
