[Unit]
Description=SimpleHost Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/simplehostman/release/current
EnvironmentFile=/etc/simplehost/agent.env
ExecStart=/usr/bin/node /opt/simplehostman/release/current/apps/agent/dist/index.js
Restart=always
RestartSec=5
StateDirectory=simplehost
LogsDirectory=simplehost

[Install]
WantedBy=multi-user.target
