NODE_ENV=development
SIMPLEHOST_VERSION=2604.20.01
SIMPLEHOST_NODE_ID=primary
SIMPLEHOST_HOSTNAME=primary.internal.simplehost
SIMPLEHOST_CONTROL_PLANE_URL=http://127.0.0.1:3200
SIMPLEHOST_ENROLLMENT_TOKEN=change-me-enrollment-token
SIMPLEHOST_CONFIG_PATH=/etc/simplehost/agent.config.yaml
SIMPLEHOST_STATE_DIR=/var/lib/simplehost
SIMPLEHOST_LOG_DIR=/var/log/simplehost
SIMPLEHOST_HEARTBEAT_MS=10000
SIMPLEHOST_CONTAINERS_QUADLET_DIR=/etc/containers/systemd
SIMPLEHOST_CONTAINERS_ENV_DIR=/etc/containers/systemd/env
SIMPLEHOST_CONTAINERS_STAGING_DIR=/var/lib/simplehost/staging/containers
SIMPLEHOST_HTTPD_SITES_DIR=/etc/httpd/conf.d
SIMPLEHOST_HTTPD_STAGING_DIR=/var/lib/simplehost/staging/httpd
SIMPLEHOST_PDNS_API_URL=http://127.0.0.1:8081
SIMPLEHOST_PDNS_API_KEY=change-me-pdns-key
SIMPLEHOST_PDNS_SERVER_ID=localhost
SIMPLEHOST_PDNS_STAGING_DIR=/var/lib/simplehost/staging/pdns
SIMPLEHOST_POSTGRES_ADMIN_URL=
SIMPLEHOST_MARIADB_ADMIN_URL=
SIMPLEHOST_CODE_SERVER_SERVICE_NAME=code-server@root.service
SIMPLEHOST_CODE_SERVER_CONFIG_PATH=/root/.config/code-server/config.yaml
SIMPLEHOST_CODE_SERVER_SETTINGS_PATH=/root/.local/share/code-server/User/settings.json
SIMPLEHOST_CODE_SERVER_STAGING_DIR=/var/lib/simplehost/staging/code-server
SIMPLEHOST_RUSTDESK_HBBS_SERVICE_NAME=rustdesk-hbbs.service
SIMPLEHOST_RUSTDESK_HBBR_SERVICE_NAME=rustdesk-hbbr.service
SIMPLEHOST_RUSTDESK_PUBLIC_KEY_PATH=/srv/containers/rustdesk/data/id_ed25519.pub
SIMPLEHOST_APPS_ROOT_DIR=/srv/containers/apps
SIMPLEHOST_APPS_SERVICE_PREFIX=app-
