NODE_ENV=development
SHM_VERSION=2604.19.06
SHM_NODE_ID=primary
SHM_HOSTNAME=primary.internal.simplehost
SHM_CONTROL_PLANE_URL=http://127.0.0.1:3200
SHM_ENROLLMENT_TOKEN=change-me-enrollment-token
SHM_CONFIG_PATH=/etc/simplehost/agent.config.yaml
SHM_STATE_DIR=/var/lib/simplehost
SHM_LOG_DIR=/var/log/simplehost
SHM_HEARTBEAT_MS=10000
SHM_CONTAINERS_QUADLET_DIR=/etc/containers/systemd
SHM_CONTAINERS_ENV_DIR=/etc/containers/systemd/env
SHM_CONTAINERS_STAGING_DIR=/var/lib/simplehost/staging/containers
SHM_HTTPD_SITES_DIR=/etc/httpd/conf.d
SHM_HTTPD_STAGING_DIR=/var/lib/simplehost/staging/httpd
SHM_PDNS_API_URL=http://127.0.0.1:8081
SHM_PDNS_API_KEY=change-me-pdns-key
SHM_PDNS_SERVER_ID=localhost
SHM_PDNS_STAGING_DIR=/var/lib/simplehost/staging/pdns
SHM_POSTGRES_ADMIN_URL=
SHM_MARIADB_ADMIN_URL=
SHM_CODE_SERVER_SERVICE_NAME=code-server@root.service
SHM_CODE_SERVER_CONFIG_PATH=/root/.config/code-server/config.yaml
SHM_CODE_SERVER_SETTINGS_PATH=/root/.local/share/code-server/User/settings.json
SHM_CODE_SERVER_STAGING_DIR=/var/lib/simplehost/staging/code-server
SHM_RUSTDESK_HBBS_SERVICE_NAME=rustdesk-hbbs.service
SHM_RUSTDESK_HBBR_SERVICE_NAME=rustdesk-hbbr.service
SHM_RUSTDESK_PUBLIC_KEY_PATH=/srv/containers/rustdesk/data/id_ed25519.pub
SHM_APPS_ROOT_DIR=/srv/containers/apps
SHM_APPS_SERVICE_PREFIX=app-
