APP_NAME=__APP_SLUG__
APP_ENV=production
APP_URL=https://__SERVER_NAME__
APP_CANONICAL_DOMAIN=__SERVER_NAME__
APP_ALIASES=__SERVER_ALIASES__
APP_DATA_DIR=/srv/containers/apps/__APP_SLUG__/app
APP_UPLOADS_DIR=/srv/containers/apps/__APP_SLUG__/uploads

DB_ENGINE=postgresql
DB_HOST=10.89.0.1
DB_PORT=5432
DB_NAME=__APP_DATABASE__
DB_USER=__APP_DATABASE_USER__
DB_PASSWORD=__APP_DATABASE_PASSWORD__
